body {
    padding: 0;
    margin: 0;
    background-color:rgb(233, 233, 233);
}

.navbar a {
    font-family: 'Trocchi', serif;;
}

.nav-link {
    margin-right: 30px;
}

.container {
    float: left;
}

.jumbotron {
    background-color: white;
    margin: 30px;
}




